@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*  
.titulo{ 
    font-size: 86px;
    font-family: "inter";
    font-weight: 400;
    margin-bottom: 20px;
    display: flex;

}

.sonic-image{

    background-image: url("./image/images.jpg");
    width: 50vw;
    height: 100vh;
    background-size: cover;

}
.page-container{

    display: flex;
    justify-content: center;
    align-items: center;
    

}
.login-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 50vw;
    height: 100vh;

}

.input{
    padding: 18px;
    background-color: aliceblue;
    width: 377px;
    border-radius: 10px;
    margin-bottom: 16;

}

.botao-login {

    cursor: pointer;
    padding: 18px;
    background-color: blue;
    border-radius: 10;
}





 
